* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  section{
    height: 100vh;
    width: 100%;
  }

  @media (max-width: 1000px){
    section{
      height: 100%;
      padding-bottom: 32px;
    }
  }

  .first-section {
    position: relative;
    background-image: url('./assets/images/xetang.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 8rem;
    overflow: hidden;
  }
  
  @media (max-width: 1000px) {
    .first-section{
      height: 100vh;
    }
  }

  .first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(207, 16, 32, 0.9), rgba(207, 16, 32, 0));
    z-index: 1;
  }
  
  .content-box {
    position: relative;
    z-index: 2;
    width: 50%;
    color: white;
    font-size: 30px;
  }
  
  .content-box h1 {
    font-size: 50px;
    margin-bottom: 16px;
    animation-iteration-count: infinite;
  } 
  
  @media (max-width: 1000px) {
    .content-box h1 {
      font-size: 40px;
    }
  }

  .content-box a {
    font-size: 20px;
    margin-top: 32px;
  }

  @media (max-width: 600px) {
    .first-section{
      padding: 0rem 4rem;
    }
    .content-box{
      text-align: center;
      width: 100%;
      font-size: 20px;
    }

    .content-box h1{
      font-size: 30px;
    }

    .content-box a {
      font-size: 14px;
    }
  }

  .red-section {
    color: white;
    background-color: rgb(103,1,1);
  } 

  .blue-section {
    color: white;
    background-color: rgb(3, 32, 128);
  } 


  .dark-section {
    color: white;
    background-color: black;
  }

  .light-section {
    color: black;
    background-color: white;
  }

  .section-title{
    text-align: center;
    margin-bottom: 64px;
    padding: 64px 32px 0px 32px;
  }

  .section-subtitle{
    text-align: center;
    margin-top: 32px;
    font-size: 25px;
    font-style: italic;
    padding: 0px 32px;
  }

  .section-carousel {
    width: 50%;
    padding: 16px;
  }

  @media (max-width: 1000px) {
    .section-carousel {
      width: 100%;
    }
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 1.75;
    overflow: hidden;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .carousel-caption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: white;
    text-align: left;
    position: absolute;
  }

  .section-content{
    width: 50%;
    padding: 16px;
  }

  @media (max-width: 1000px) {
    .section-content{
      width: 100%;
    }
  }

  .section-content p {
    text-align: justify;
  }

  .special-section{
    background-image: url('./assets/images/background-trongdong.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
  }

  .event-card{
    width: 300px;
    background-color: white;
    margin: 10px;
  }

  @media (max-width: 1000px){
    .event-card{
      width: 220px;
      font-size: 13px;
    }

    .event-content .card-title{
      font-size: 16px;
    }
  }

  @media (max-width: 700px){
    .event-card{
      width: 100%;
      margin: 16px 0;
      padding: 0;
    }
  }

  .event-image{
    width: 100%;
    aspect-ratio: 3/2;
    overflow: hidden;
  }

  .event-image img{
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .event-content{
    width: 100%;
    padding: 16px;
    color: black;
  }

  .event-content .card-title{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
    display: block;
    height: 50px;
    overflow: hidden;
  }

  .event-content svg {
    width: 16px;
    margin-right: 10px;
  }

  .event-card button {
    background-color: black;
    padding: 6px;
    color: white;
    width: 100%;
    margin-top: 16px;
  }

  .video-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }


  .video-wrapper iframe{
    width: 800px;
    height: 400px;
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 32px 0px;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 100vh;
    background-color: rgb(103, 1, 1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    z-index: 999;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.4);
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  .icon {
    width: 40px;
    height: auto;
  }

  .icon-text{
    display: none;
    margin-left: 10px;
    font-weight: bold;
  }
  
  nav .list-section {
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-weight: bold;
  }
  
  nav .list-section li {
    margin: 10px 0;
  }
  
  nav .list-section li a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-size: 14px;
  }
  
  @media (min-width: 1000.1px) {
    nav:hover {
      width: 200px;
    }
    
    nav:hover .list-section {
      opacity: 1;
      pointer-events: auto;
      display: block;
    }
    
    nav:hover .icon-text {
      display: block;
    }
  
  }
  
  @media (max-width: 1000px) {
    nav {
      top: 0;
      left: 0;
      right: 0;
      height: auto;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }
  
    nav:hover {
      width: 100%; /* không cần mở rộng khi hover trên mobile */
    }
  
    nav .list-section {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      opacity: 1 !important;
      pointer-events: auto;
      margin: 0;
    }
  
    nav .list-section li {
      margin: 0;
    }
  
    .icon-text {
      display: block;
      margin-left: 0.5rem;
    }
  }

  .nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  /* Hiện toggle button trên màn hình nhỏ */
  @media (max-width: 800px) {
    .nav-toggle {
      display: block;
    }

    .nav-icon{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    nav .list-section {
      display: none; /* ban đầu ẩn */
      flex-direction: column;
      gap: 0.5rem;
      background-color: rgb(103, 1, 1);
      width: 100%;
      padding: 1rem;
    }
  
    nav .list-section.show {
      display: block;
      width: 100%;
      text-align: center;
    }

    nav{
      display: flex;
      flex-direction: column;
    }
  }

  .section-body,  .section-bodyreverse{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 1000px) {
    .section-body{
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 1000px) {
    .section-bodyreverse{
      display: flex;
      flex-direction: column-reverse;
    }
  }